/* Base Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom Scrollbar Styles for WebKit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px;
  height: 0; /* Disable horizontal scrolling */
}

::-webkit-scrollbar-track {
  background: #2F6B91; /* Dark blue background for the track */
  clip-path: polygon(0 0, 96% 0, 100% 10%, 100% 100%, 4% 100%, 0% 90%);
}

::-webkit-scrollbar-thumb {
  background-color: #5CA1B7; /* Light blue thumb matching modal background */
  border-radius: 10px;
  border: 3px solid #2F6B91; /* Dark blue border around the thumb */
  clip-path: polygon(10% 0, 90% 0, 100% 20%, 100% 100%, 0% 100%, 0% 20%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4282A4; /* Darker blue on hover */
}

/* Scrollbar styles for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #5CA1B7 #2F6B91; /* Thumb and track colors */
}

/* Disable horizontal scrolling globally */
body, html {
  overflow-x: hidden; /* No horizontal scrolling */
}

/* Specific sections can still enable vertical scrolling */
.scrollable {
  overflow-y: auto;
  overflow-x: hidden; /* Force disable horizontal scrolling */
}



:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.clouds{
  background:transparent url(/images/clouds3.png)  top center;
  z-index:-1;
  opacity: 60%;
  height: 80%;

-moz-animation:move-clouds-back 200s linear infinite;
-ms-animation:move-clouds-back 200s linear infinite;
-o-animation:move-clouds-back 200s linear infinite;
-webkit-animation:move-clouds-back 200s linear infinite;
animation:move-clouds-back 200s linear infinite;
}

/* loading.css */
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0); /* Semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it appears above other content */
}
